- name: Install java
  package:
    name: java
    state: present

- name: add an application user 
  user:
    name: studentappln

- name: download & extract tomcat file
  get_url:
      url: "{{TOMCAT_URL}}"
      dest: /home/studentappln/
  become_user: studentappln
      


- name: Find files in webapps
  find:
    paths: "{{TOMCAT_DIR}}/webapps"
    file_type: any
  register: out

- name: Remove the files in webapps
  file:
   path: "{{item.path}}"
   state: absent
  loop: "{{out.files}}"

- name: download war file
  get_url:
      url: "{{WAR_APP}}"
      dest: "{{TOMCAT_DIR}}/webapps/{{WAR_FILE}}"
  become_user: studentappln

- name: download jdbc URL
  get_url:
      url: "{{JDBC_URL}}"
      dest: "{{TOMCAT_DIR}}/lib/{{JDBC_FILE}}"
  become_user: studentappln

- name: Include variable in Dev DB Parameters
  include_vars:
     file: dbparams-dev.yml
  when: ansible_local.info.env == "DEV"

- name: Include variable in Prod DB Parameters
  include_vars:
     file: dbparams-prd.yml
  when: ansible_local.info.env == "PROD"

- name: update the context.xml file
  template:
    src: context.xml.j2
    dest: "{{TOMCAT_DIR}}/conf/context.xml"
  become_user: studentappln

- name: create tomcat init script
  get_url:
     url: https://raw.githubusercontent.com/satyamanasala/tomcat-init-script/master/tomcatinit
     dest: /etc/init.d/tomcat
     mode: 0755             
- name: start tomcat service
  service:
    name: tomcat
    state: started
    enabled: yes
  
    
