- name: Install maria db server
  package:
    name: "{{item}}"
    state: present
  loop:
     - MySQL-python
     - mariadb-server

- name: start mariadb service                                 
  service: 
    name: mariadb
    state: started
    enabled: yes

- name: Create database studentappln
  mysql_db:
    name: studentappln
    state: present

- name: copy students table from file
  copy:
    src: student.sql
    dest: /tmp/student.sql

- name: import file(table schema) to mysql
  mysql_db:
   name: mysql
   state: import
   name: all
   target: /tmp/student.sql

- name: include database user parameteres
  include_vars:
    file: dbparams.yml

- name: create database user 
#  vars:
#    include_vars: dbparams.yml
  mysql_user:
     name: "{{DBUSER}}"
     password: "{{DBPASS}}"
     priv: 'studentappln.*:ALL'
     host: "{{ansible_fqdn}}"
