- name: Deploy Student Application
  hosts: all 
  become: yes 
  gather_facts: yes 
  vars:
    TOMCAT_DIR: /home/studentappln/apache-tomcat-9.0.16
  tasks:
    - name: Find files in webapps
      find:
        paths: "{{TOMCAT_DIR}}/webapps"
        file_type: any 
      register: out 

    - name: Remove the files in webapps
      file:
        path: "{{item.path}}"
        state: absent
      loop: "{{out.files}}"

    - name: Copy war file 
      copy:
        src: /var/lib/jenkins/workspace/student/testpipeline_converted/MAVEN/target/studentapi-${VERSIONNO}-${VERSIONTYPE}.war
        dest: "{{TOMCAT_DIR}}/webapps/student.war"
        remote_src: yes
      become_user: studentappln

